<div class="image-aboutus-banner"style="margin-top:70px">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">このサイトについて</h1>
         <p class="image-aboutus-para">こんにちは！フクロウ図書館へようこそ！</p>
       </div>
    </div>
</div>
</div>
<div class="bread-bar">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-8 col-sm-6 col-xs-8">
                    <ol class="breadcrumb">
                        <li><a href="root_path">トップへ</a></li>
                        <li class="active">このサイトについて</li>
                    </ol>
            	</div>
                <div class="col-md-4 col-sm-6 col-xs-4">
                </div>
            </div>
      	</div>
    </div>
<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
                	<div class="col-md-6">
                    	<h1 class="strong">本好きたちとつながりましょう！</h1>
                        <p class="lead"></p>思い出の本のレビューを投稿したり<br>コメントをして本好きたちとコミュニケーションが出来ます</p>
                    </div>
                    <div class="col-md-6">
                        <br>
                    	<h2>機能紹介</h2>
                    	<p><b>本のレビュー</b><br>子供の時から大好きだったり、時には苦い思い出もあったり。<br>あなたにも心に残った作品があるでしょう。<br>飾る必要はありません。<br>その一冊、いや何冊でも思うままにレビューしてしまいましょう。</p>
                        <p><b>レビューにコメント</b><br>他の本好きのレビューがあなたの心を動かせば、そのレビューに対してコメントを残すこともできます。<br>是非あなたの感想をシェアしましょう。</p>
                        <p><b>レビューにいいね！</b><br>レビューに対して共感出来たらいいね！も出来ますよ！</p>
                        <p><b>友達登録</b><br>気になるレビューを書く方がいましたか？<br>そんな方は是非とも友達登録しましょう。<br>友達登録することで、新着のレビューをすぐに見つけられるようになります。</p>
                    </div>
</div>
    </div>
</div>

</div>  