.book-details {
  background: white;
  margin: -15px 15px 0;
  padding: 30px;
}

#imagecol {
  text-align: center;
}
#coverImage {
  max-width: 90%;
  display: block;
  margin: 0 auto 10px;
}
.col {
  float: left;
  margin: 0 20px 10px 0;
}
#bookTitle {
  margin-bottom: 0;
  width: 100%;
}
#bookAuthors .smallText, #bookAuthors .authorName {
  color: #333;
}
#details {
  padding: 5px 0;
  font-size: 12px;
  color: #333;
}
.infoBoxRowTitle {
  color: #382110;
  font-weight: bold;
  width: 25%;
  float: left;
  margin: 1px 0px;
}
.infoBoxRowItem {
  float: left;
  width: 75%;
  margin: 1px 0px;
}

.write-btn {
  margin: 0 !important;
}

h1.bookTitle {
  font: italic 27px "Times New Roman", Times, serif !important;
  margin: 0 0 10px!important;
}
