<div class="header">
  <div class="header_resize">
    <div class="logo">
      <h1><%= link_to "Fukurou Toshokan", root_path %></h1>
    </div>
    <div class="search">
      <form id="form1" name="form1" method="post" action="#">
        <span>
        <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
        </span>
        <input name="b" type="image" src="/assets/search.gif" class="button" />
      </form>
    </div>
    <div class="clr"></div>
    <div class="menu">
      <ul>
        <li><a href="index.html" class="active"><span>Home</span></a></li>
        <li><a href="services.html"><span>My Books</span></a></li>
        <li><a href="about.html"><span>About Us</span></a></li>
        <li><a href="contact.html"><span>Contact Us</span></a></li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</div>
